@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Muli:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import 'reset';
@import 'mixins';
@import 'vars';
@import 'header';
@import 'nav';
@import 'footer';

.box{
  color:$f-c;
  font-size: 100px;
  text-align: center;
  text-shadow: $txs;
  
  
}



// Writing flexbox here

.container{
  display: flex;
  justify-content: center;
  border: 10px solid mistyrose;


   // colors for each box
 .box-1{background: map-get($container-colors, box1 )}
 .box-2{background: map-get($container-colors, box2 )}
 .box-3{background: map-get($container-colors, box3 )}
 .box-4{background: map-get($container-colors, box4 )}
 .box-5{background: map-get($container-colors, box5 )}
 .box-6{background: map-get($container-colors, box6 )}
 .box-7{background: map-get($container-colors, box7 )}
 .box-8{background: map-get($container-colors, box8 )}
 .box-9{background: map-get($container-colors, box9 )}
 .box-10{background: map-get($container-colors, box10)}
}